#contacts h3{
  margin-left: 400px;
}

.animcar
   {
      text-transform: uppercase;

     background-image: linear-gradient(
       -225deg,
       white 0%,
       yellow 29%,
       green 67%,
       red 100%
     );
     background-size: auto auto;
     background-clip: border-box;
     background-size: 200% auto;
     color: #fff;
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: textclip 4s linear infinite;
     display: inline-block;
         font-size: 70px;
   }

   .animcar {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .animcar:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .animcar:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  #contme {
    padding: 25px 100px;
    padding-bottom: 10px;
    padding-top: 0px;
    min-height: 70vh;
  }
  
  #contme .row {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 55px auto;
    justify-content: space-between;
  }
  #contme .profile {
    flex: 0 1 35%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  }
  #contme .profile>img{
    height: 250px;
    padding: 15px;
  }

  #contme .description {
    text-transform:initial;
    flex: 1 0 65%;
    border: 1px solid gainsboro;
    border-radius: 3px;
    overflow: hidden;
    min-height: 200px;
    max-width: 60%;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  }
  
  #contme .desc-header {
    background-color: #f7f7f7;
    padding: 12px 12px;
    border-bottom: 1px solid gainsboro;
  }
  
  .red {
    background-color: #ed4c5c;
  }
  .green {
    background-color: #78b159;
  }
  
  .yellow {
    background-color: #fdcb58;
  }
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
  }
  
  @media screen and (max-width: 800px) {
    #contme {
      padding: 10px;
      margin-top: 30px;
      height: auto;
    }
    #contme .row {
      margin-top: 30px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  
    #contme .profile {
      max-width: 70%;
    }
    #contme .description {
      border: 1px solid gainsboro;
      border-radius: 3px;
      overflow: hidden;
      min-height: 200px;
      max-width: 100%;
    }
  }
  
  /**
 * ==============================================
 * Dot Floating
 * ==============================================
 */
 .dot-floating {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: green;
  color: #9880ff;
  animation: dotFloating 6s infinite cubic-bezier(0.15, 0.6, 0.9, 0.1);
}

.dot-floating::before, .dot-floating::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-floating::before {
  left: -12px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f5ff3a;
  animation: dotFloatingBefore 3s infinite ease-in-out;
}

.dot-floating::after {
  left: -24px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: red;
  color: #9880ff;
  animation: dotFloatingAfter 3s infinite cubic-bezier(0.4, 0, 1, 1);
}

@keyframes dotFloating {
  0% {
    left: calc(-50% - 5px);
  }
  75% {
    left: calc(50% + 105px);
  }
  100% {
    left: calc(50% + 300px);
  }
}

@keyframes dotFloatingBefore {
  0% {
    left: -50px;
  }
  50% {
    left: -12px;
  }
  75% {
    left: -50px;
  }
  100% {
    left: -50px;
  }
}

@keyframes dotFloatingAfter {
  0% {
    left: -100px;
  }
  50% {
    left: -24px;
  }
  75% {
    left: -100px;
  }
  100% {
    left: -100px;
  }
}

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 30px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 15px 10px;
    background: none;
    border: none;
    border-bottom: 1px solid green;
    color: grey;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }

  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }

  /* Animation property */
.app-form-button {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.app-form-button { 
  height: 3.5em;
  width: 7em;
  border: none;
  border-top: 2px solid red;
  border-radius: 0 0 0.2em 0.2em;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1.3em;
  font-weight: bolder;
  transform-origin: 50% 5em;
  cursor: pointer;
  background-color: white;
}
  
.app-form-button:hover {
  color: red;
  background-color: rgba(55, 172, 239, 0.1);
  cursor: pointer;
}

#contme .technos i {
  font-size: 5em;
  justify-content: space-around;
  align-items: center;
  padding: 10px 17px;
}

.bi-facebook{
  color: blue;
}

.bi-facebook:hover{
  color: rgb(221, 231, 231);
}
