body{
    margin:0;
    overflow-x:hidden;
    }
    
    .footer{
    background:#162051;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:white;
    font-size:1.6em;
    }
    
    .footer .row a{
    text-decoration:none;
    color: grey;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }



    /*
    
    */

    .start{
        display: inline-block;
        align-items: center;
        text-align: center;
        font-size: 2em;
 
    }
    .end1{
        color: white;
    }
    .end1, .middle1, .middle2{
        display: inline-block;
        overflow:hidden;
        height: 1.5em;
    }
    .end2{
        position:absolute;
        color:white
    }
    .middle2{
        color: grey;
    }
    .middle2>i{
        font-weight: bolder;
        font-size: 1.1em;
    }
    .middle1 {
        animation: ani1 5s infinite;
        animation-delay: -3s;
        max-width: 0;
        color: white;
    }
    .middle2 {
        animation: ani2 5s infinite;
        animation-delay: -3s;
        max-width: 0;
    }
    
    @keyframes ani1 {
        0% {
        max-width: 500px;
      }
      
      25% {
        max-width: 0;
      }
      
      75% {
        max-width: 0;
      }
      
      90% {
        max-width: 500px;
      }
      
      100% {
        max-width: 500px;
      }
    }
    
    @keyframes ani2 {
        0% {
            max-width: 0;
        }
    
        25% {
            max-width: 0;
        }
    
        50% {
            max-width: 500px;
        }
    
        75% {
            max-width: 0;
        }
    
        100% {
            max-width: 0;
        }
    }


    .bi-soundwave{
        color: orange;
    }
    .bi-soundwave:hover{
        color: rgb(221, 231, 231);
    }



    .bi-soundwave:hover{
        color: white;
    }